Repository tiagoporto/sign-of-the-horns-single-div: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown --write, stylelint "**/*.scss" --fix, remark --frail

Set concurrency in workflows
  .github/workflows/checks.yml
  .github/workflows/ci.yaml
  .github/workflows/dead-urls.yml
  .github/workflows/deploy.yml
  README.md
Due: prettier --check --ignore-unknown --write, remark --frail

Set ignore md prettier
  .prettierignore
Due: prettier --check --ignore-unknown --write

Update docs
  README.md
Due: prettier --check --ignore-unknown --write, remark --frail

Add editor/config
  .editorconfig
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown --write

Update LICENSE
  LICENSE
Due: prettier --check --ignore-unknown --write

Split docs workflow
  .github/workflows/check-docs.yml
Due: prettier --check --ignore-unknown --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown --write

Rename workflow jobs
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/dead-urls.yml
  .github/workflows/deploy.yml
Due: prettier --check --ignore-unknown --write

Update dependencies
  .editorconfig
  .github/dependabot.yml
  .lintstagedrc
  .prettierignore
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown --write

Cleanup workflows
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Due: prettier --check --ignore-unknown --write

Cleanup package.json
  package.json
Due: prettier --check --ignore-unknown --write

Update settings.json
  .vscode/settings.json
Due: prettier --check --ignore-unknown --write

Add base to vite config
  vite.config.mjs
Due: prettier --check --ignore-unknown --write

Fix formatting:check command in workflow
  .github/workflows/checks.yml
  README.md
Due: prettier --check --ignore-unknown --write, remark --frail

Migrate from npm to pnpm
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/dead-urls.yml
  .github/workflows/deploy.yml
  .npmrc
  .prettierignore
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write, remark --frail

Update dependencies
  .github/dependabot.yml
  .lintstagedrc.mjs
  .prettierrc.json
  .prettierrc.mjs
  .stylelintrc
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Update dependencies and add eslint-config
  .eslintrc.cjs
  .github/dependabot.yml
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
  .prettierrc.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/index.html
  src/scripts/switch.js
  vite.config.mjs
Due: prettier --check --ignore-unknown --write

Fiz sass import and modern api
  src/styles/index.scss
  vite.config.mjs
Due: prettier --check --ignore-unknown --write, stylelint "**/*.scss" --fix

Update README.md
  README.md
Due: prettier --check --ignore-unknown --write, remark --frail

Use pnpm action sha
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Due: prettier --check --ignore-unknown --write

Set workspace permissions
  .github/workflows/check-docs.yml
  .github/workflows/checks.yml
Due: prettier --check --ignore-unknown --write

Fix gtag tracking
  eslint.config.mjs
  src/index.html
  src/scripts/switch.js
Due: prettier --check --ignore-unknown --write

Add clicking track
  src/index.html
  src/scripts/switch.js
Due: prettier --check --ignore-unknown --write

Add codeowners
  .github/CODEOWNERS
Due: prettier --check --ignore-unknown --write

Update license doc section
  README.md
Due: prettier --check --ignore-unknown --write, remark --frail

Update dependabot-config
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Update editor-config
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Update eslint-config and eslint
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Update prettier-config
  package.json
  pnpm-lock.yaml
  src/styles/components/_sign-of-the-horns.scss
Due: prettier --check --ignore-unknown --write, stylelint "**/*.scss" --fix

Update remark-config
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Update stylelint-config
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Update vite
  package.json
  pnpm-lock.yaml
  vite.config.mjs
Due: prettier --check --ignore-unknown --write

Update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Remove dependabot
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check --ignore-unknown --write

Add update script
  package.json
Due: prettier --check --ignore-unknown --write

Path conditions:
  prettier --check --ignore-unknown --write: any of: *
  stylelint "**/*.scss" --fix: any of: *.scss
  remark --frail: any of: *.md
